<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="grid">
  <div class="col-12 md:col-6">
    <div class="field">
      <label for="nombre">Nombre</label>
      <input pInputText id="nombre" formControlName="nombre" class="w-full" />
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="field">
      <label for="categoria">Categoría</label>
      <input
        pInputText
        id="categoria"
        formControlName="categoria"
        class="w-full"
      />
    </div>
  </div>

  <div class="col-12">
    <div class="field">
      <label for="descripcion">Descripción</label>
      <textarea
        pInputTextarea
        id="descripcion"
        formControlName="descripcion"
        class="w-full"
      ></textarea>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="field">
      <label for="precioUnitario">Precio Unitario</label>
      <p-inputNumber
        id="precioUnitario"
        mode="currency"
        currency="CLP"
        formControlName="precioUnitario"
        [showButtons]="false"
        class="w-full"
        styleClass="w-full"
      ></p-inputNumber>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="field">
      <label for="cantidad">Cantidad</label>
      <p-inputNumber
        id="cantidad"
        formControlName="cantidad"
        [showButtons]="true"
        [min]="1"
        class="w-full"
        styleClass="w-full"
      ></p-inputNumber>
    </div>
  </div>

  <div class="col-12">
    <div class="field">
      <label for="file">Comprobante (Opcional)</label>
      <p-fileUpload
        #fileUpload
        mode="basic"
        id="file"
        [auto]="false"
        chooseLabel="Seleccionar archivo"
        (onSelect)="onFileSelect($event)"
        [maxFileSize]="1000000"
      ></p-fileUpload>
    </div>
  </div>

  <div class="col-12 flex justify-content-end gap-2">
    <p-button
      label="Cancelar"
      (onClick)="cerrarDialogo()"
      styleClass="p-button-text"
    ></p-button>
    <p-button label="Guardar" type="submit" [loading]="loading"></p-button>
  </div>
</form>
