<div class="flex align-items-center justify-content-center min-h-screen" style="background:linear-gradient(-225deg,#ac32e4,#7918f2 48%,#4801ff)">
  <div class="p-6 shadow-2 text-center lg:w-30rem" style="border-radius: 12px; background-color: rgba(255,255,255,.1); color: white;">
    <div class="text-4xl font-medium mb-6">Bienvenido</div>
    <input type="text" placeholder="Usuario" class="appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-white-alpha-10 text-white custom-placeholder" style="border-radius: 30px;" />
    <input type="password" placeholder="Contraseña" class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 bg-white-alpha-10 text-white custom-placeholder" style="border-radius: 30px;" />
    <button type="button" class="appearance-none border-none p-3 w-full outline-none text-xl font-medium w-12rem bg-white-alpha-30 hover:bg-white-alpha-40 active:bg-white-alpha-20 text-white cursor-pointer transition-colors transition-duration-150" style="border-radius: 30px">Iniciar sesión</button>
    <a class="cursor-pointer font-medium block text-center mt-3 text-white">¿Olvidaste tu contraseña?</a>
  </div>
</div>

